<div class="card shadow-4 border-round-lg" 
     style="background-image: url(https://s0.smartresize.com/wallpaper/302/647/HD-wallpaper-red-black-spiderman-spiderman-superheroes-artwork.jpg); 
            background-size: cover; background-position: center; padding: 2rem 1rem; height: 100vh;">
  
   
  <div class="flex flex-wrap justify-content-center gap-3">
    <p-button label="Deber 1" [raised]="true" routerLink="/grid-1" 
              class="spiderman-btn p-button-rounded p-button-lg" />
    <p-button label="Deber 2" [raised]="true" routerLink="/grid-2" 
              class="spiderman-btn p-button-rounded p-button-lg" />
    <p-button label="Deber 3" [raised]="true" routerLink="/cards" 
              class="spiderman-btn p-button-rounded p-button-lg" />
</div>

</div>

<router-outlet></router-outlet>