<div class="card shadow-4 border-round-lg">
    <p-toolbar 
        class="shadow-2" 
        [style]="{ 
            'border-radius': '1rem', 
            'background-image': 'linear-gradient(to right, #1E293B, #0F172A)', 
            'padding': '0.5rem 1rem'
        }">
        
        <!-- Navigation Buttons -->
        <ng-template pTemplate="center">
            <div class="flex flex-wrap align-items-center gap-3">
                <button 
                    class="p-link inline-flex justify-content-center align-items-center text-white h-3rem w-3rem border-circle hover:opacity-90 transition-all transition-duration-200" 
                    [routerLink]="['/']"> 
                    <i class="pi pi-home text-2xl"></i>
                </button>
              
            </div>
        </ng-template>
        
        <!-- User Profile (Centered) -->
        <ng-template pTemplate="end">
            <div class="flex justify-content-center align-items-center gap-2 w-full">
                <p-avatar 
                    image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0CS-hgTa_8z1Em6M-8ZD_GnMyenPqaoPswQ&s" 
                    shape="circle" 
                    size="large" />
                <div>
                    <span class="font-bold text-white">David</span>
                    <small class="text-bluegray-300 block">Administrador</small>
                </div>
            </div>
        </ng-template>
    </p-toolbar>
</div>

<router-outlet></router-outlet>