<div class="grid">
    <div class="col-12 md:col-6 lg:col-3">
        <div class="card flex justify-content-center">
            <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://wallpapers.com/images/hd/deadpool-background-leaning-and-being-showered-with-bullet-shells-wji6bq4uf6efdaiz.jpg" />
                </ng-template>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <div class="col-12 md:col-6 lg:col-3">
        <div class="card flex justify-content-center">
            <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://s0.smartresize.com/wallpaper/363/165/HD-wallpaper-deadpool-with-guns-in-black-red-background-deadpool-thumbnail.jpg" />
                </ng-template>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <div class="col-12 md:col-6 lg:col-3">
        <div class="card flex justify-content-center">
            <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://wallpapers.com/images/hd/deadpool-background-leaning-and-being-showered-with-bullet-shells-wji6bq4uf6efdaiz.jpg" />
                </ng-template>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <div class="col-12 md:col-6 lg:col-3">
        <div class="card flex justify-content-center">
            <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://s0.smartresize.com/wallpaper/363/165/HD-wallpaper-deadpool-with-guns-in-black-red-background-deadpool-thumbnail.jpg" />
                </ng-template>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <div class="col-12 md:col-6 lg:col-3">
        <div class="card flex justify-content-center">
            <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://img3.wallspic.com/previews/2/3/6/0/5/150632/150632-pintura_abstracta_en_blanco_y_negro-550x310.jpg" />
                </ng-template>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <div class="col-12 md:col-6 lg:col-3">
        <div class="card flex justify-content-center">
            <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://preview.redd.it/venom-wallpaper-7680x4320-v0-ald0z1hlney91.jpg?width=640&crop=smart&auto=webp&s=c87b325b4679bc07a3a90f25950b6dfd187ffee6" />
                </ng-template>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <div class="col-12 md:col-6 lg:col-3">
        <div class="card flex justify-content-center">
            <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://img3.wallspic.com/previews/2/3/6/0/5/150632/150632-pintura_abstracta_en_blanco_y_negro-550x310.jpg" />
                </ng-template>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <div class="col-12 md:col-6 lg:col-3">
        <div class="card flex justify-content-center">
            <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://preview.redd.it/venom-wallpaper-7680x4320-v0-ald0z1hlney91.jpg?width=640&crop=smart&auto=webp&s=c87b325b4679bc07a3a90f25950b6dfd187ffee6" />
                </ng-template>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <div class="col-12 md:col-6 lg:col-3">
        <div class="card flex justify-content-center">
            <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://wallpapers.com/images/hd/slender-man-pictures-e6q6jdx9ubaigrk5.jpg" />
                </ng-template>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <div class="card flex justify-content-center">
            <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://static.vecteezy.com/system/resources/thumbnails/022/874/560/small/illustration-painting-of-the-death-as-know-as-grim-reaper-holding-the-scythe-against-the-eclipse-on-the-background-digital-art-style-generate-ai-free-photo.jpg" />
                </ng-template>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <div class="col-12 md:col-6 lg:col-3">
        <div class="card flex justify-content-center">
            <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://wallpapers.com/images/hd/slender-man-pictures-e6q6jdx9ubaigrk5.jpg" />
                </ng-template>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

    <div class="col-12 md:col-6 lg:col-3">
        <div class="card flex justify-content-center">
            <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://static.vecteezy.com/system/resources/thumbnails/022/874/560/small/illustration-painting-of-the-death-as-know-as-grim-reaper-holding-the-scythe-against-the-eclipse-on-the-background-digital-art-style-generate-ai-free-photo.jpg" />
                </ng-template>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
                </p>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Cancel" severity="secondary" class="w-full" styleClass="w-full" />
                        <p-button label="Save" class="w-full" styleClass="w-full" />
                    </div>
                </ng-template>
            </p-card>
        </div>
    </div>

</div>
